<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.1.slim.min.js" integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script>

{% assign flavor_tag = product.tags | where: "filter-flavor-" | first %}
{% if flavor_tag %}
  {% assign collection_handle = flavor_tag | remove: "filter-flavor-" %}
  {% assign collection = collections[collection_handle] %}
  {% assign count = 0 %}
  {% assign main_secondr = '' %}
  {% assign main_option = product.title | split: " - " | first %}
  {% paginate collection.products by 1000 %}
    {% for product in collection.products %}

      {%- comment -%} Wholesale_Club_Product_Visibility_For_Loop Start {%- endcomment -%}
      {%- capture hide_resource -%}{% render "wc_product_visibility", resource: product %}{%- endcapture -%}
      {%- if hide_resource == "true" -%}
        {% continue %}
      {%- endif -%}
      {%- comment -%} Wholesale_Club_Product_Visibility_For_Loop End {%- endcomment -%}

      {% comment %} Wholesale_Club_Product_Prices Start {% endcomment %}
      {% assign base_product = product %}
      {% assign base_variant = product.selected_or_first_available_variant %}

      {% if shop.metafields.sawholesale['base_price'] == blank %}
        {% assign base_price = 'compare_at_price' %}
      {% else %}
        {% assign base_price = shop.metafields.sawholesale['base_price'] %}
      {% endif %}

      {% assign saw_discount = 0 %}{% assign saw_has_discount = false %}

      {% if customer.tags != blank %}
        {% for mf in base_product.metafields.sawholesale %}
          {%- comment -%} Wholesale_Club_Product_Visibility_For_Loop Start {%- endcomment -%}
          {%- capture hide_resource -%}{% render "wc_product_visibility", resource: mf %}{%- endcapture -%}
          {%- if hide_resource == "true" -%}
            {% continue %}
          {%- endif -%}
          {%- comment -%} Wholesale_Club_Product_Visibility_For_Loop End {%- endcomment -%}

          {% capture product_customer_tag %}{{ mf | first | replace: 'discount_', '' }}{% endcapture %}
          {% if customer.tags contains product_customer_tag %}
            {% assign saw_has_discount = true %}
            {% assign discount_key = product_customer_tag | prepend: 'discount_' %}
            {% assign price_key = product_customer_tag | prepend: 'price_' %}
            {% assign saw_discount = base_product.metafields.sawholesale[discount_key] | divided_by: 100.0 %}
          {% endif %}
        {% endfor %}
      {% endif %}

      {% assign saw_discount = 1 | minus: saw_discount %}

      {% if base_price == 'price' or base_variant.compare_at_price == blank  or base_variant.compare_at_price == 0 or base_variant.compare_at_price < base_variant.price %}
        {% assign saw_variant_compare_at_price = base_variant.price %}
      {% else %}
        {% assign saw_variant_compare_at_price = base_variant.compare_at_price %}
      {% endif %}

      {% assign cpe = shop.metafields.sawholesale['cpe'] | default: "true" %}
      {% if base_variant.metafields.sawholesale[price_key] != blank and cpe == "true" %}
        {% assign saw_variant_price = base_variant.metafields.sawholesale[price_key] %}
      {% else %}
        {% assign saw_variant_price = saw_variant_compare_at_price | times: saw_discount %}
      {% endif %}

      {% if saw_has_discount == false or saw_variant_price >= saw_variant_compare_at_price %}
        {% assign WCProduct_Price = base_product.price %}
        {% assign WCProduct_ComparePrice = base_product.compare_at_price %}
        {% assign WCProduct_PriceMin = base_product.price_min %}
        {% assign WCProduct_ComparePriceMin = base_product.compare_at_price_min %}
        {% assign WCProduct_PriceMax = base_product.price_max %}
        {% assign WCProduct_ComparePriceMax = base_product.compare_at_price_max %}
        {% assign WCProduct_VariantPrice = base_variant.price %}
        {% assign WCProduct_VariantComparePrice = base_variant.compare_at_price %}
      {% else %}   
        {% assign WCProduct_Price = saw_variant_price %}
        {% assign WCProduct_PriceMin = base_product.price_min | times: saw_discount %}
        {% assign WCProduct_PriceMax = base_product.price_max | times: saw_discount %}
        {% assign WCProduct_ComparePrice = saw_variant_compare_at_price %}
        {% if base_product.compare_at_price_min != 0 %}{% assign WCProduct_ComparePriceMin = base_product.compare_at_price_min %}{% else %}{% assign WCProduct_ComparePriceMin = base_product.price_min %}{% endif %}
        {% if base_product.compare_at_price_max != 0 %}{% assign WCProduct_ComparePriceMax = base_product.compare_at_price_max %}{% else %}{% assign WCProduct_ComparePriceMax = base_product.price_max %}{% endif %}
        {% assign WCProduct_VariantPrice = saw_variant_price %}
        {% assign WCProduct_VariantComparePrice = saw_variant_compare_at_price %}
      {% endif %}
      {% comment %} Wholesale_Club_Product_Prices End {% endcomment %}

      {% assign serever  = product.title   %}

      {%- if serever  contains main_option   -%}  
        {% assign  main_secondr  = serever | split: " - " | last  %}
        {% assign  main_second  = serever  %}
        {% assign  count  =  count | plus: 1 %}
      {% endif %}
    {% endfor %}
  {% endpaginate %}
{% endif %}

{% assign ser =  product.title  | split: " - " | last %}
      

{% if count > 1 %}
  <h3>Serving Size </h3>
  <div class="main_div" >
    {% assign collection12 = collection %}
    {%   assign products_by_price =  collection12.products | sort: "price"   %}
    {% for product in products_by_price  %}
      {%- comment -%} Wholesale_Club_Product_Visibility_For_Loop Start {%- endcomment -%}
      {%- capture hide_resource -%}{% render "wc_product_visibility", resource: product %}{%- endcapture -%}
      {%- if hide_resource == "true" -%}
        {% continue %}
      {%- endif -%}
      {%- comment -%} Wholesale_Club_Product_Visibility_For_Loop End {%- endcomment -%}

      {% comment %} Wholesale_Club_Product_Prices Start {% endcomment %}
      {% assign base_product = product %}
      {% assign base_variant = product.selected_or_first_available_variant %}

      {% if shop.metafields.sawholesale['base_price'] == blank %}
        {% assign base_price = 'compare_at_price' %}
      {% else %}
        {% assign base_price = shop.metafields.sawholesale['base_price'] %}
      {% endif %}

      {% assign saw_discount = 0 %}{% assign saw_has_discount = false %}

      {% if customer.tags != blank %}
        {% for mf in base_product.metafields.sawholesale %}
          {%- comment -%} Wholesale_Club_Product_Visibility_For_Loop Start {%- endcomment -%}
          {%- capture hide_resource -%}{% render "wc_product_visibility", resource: mf %}{%- endcapture -%}
          {%- if hide_resource == "true" -%}
            {% continue %}
          {%- endif -%}
          {%- comment -%} Wholesale_Club_Product_Visibility_For_Loop End {%- endcomment -%}

          {% capture product_customer_tag %}{{ mf | first | replace: 'discount_', '' }}{% endcapture %}
          {% if customer.tags contains product_customer_tag %}
            {% assign saw_has_discount = true %}
            {% assign discount_key = product_customer_tag | prepend: 'discount_' %}
            {% assign price_key = product_customer_tag | prepend: 'price_' %}
            {% assign saw_discount = base_product.metafields.sawholesale[discount_key] | divided_by: 100.0 %}
          {% endif %}
        {% endfor %}
      {% endif %}

      {% assign saw_discount = 1 | minus: saw_discount %}

      {% if base_price == 'price' or base_variant.compare_at_price == blank  or base_variant.compare_at_price == 0 or base_variant.compare_at_price < base_variant.price %}
        {% assign saw_variant_compare_at_price = base_variant.price %}
      {% else %}
        {% assign saw_variant_compare_at_price = base_variant.compare_at_price %}
      {% endif %}

      {% assign cpe = shop.metafields.sawholesale['cpe'] | default: "true" %}
      {% if base_variant.metafields.sawholesale[price_key] != blank and cpe == "true" %}
        {% assign saw_variant_price = base_variant.metafields.sawholesale[price_key] %}
      {% else %}
        {% assign saw_variant_price = saw_variant_compare_at_price | times: saw_discount %}
      {% endif %}

      {% if saw_has_discount == false or saw_variant_price >= saw_variant_compare_at_price %}
        {% assign WCProduct_Price = base_product.price %}
        {% assign WCProduct_ComparePrice = base_product.compare_at_price %}
        {% assign WCProduct_PriceMin = base_product.price_min %}
        {% assign WCProduct_ComparePriceMin = base_product.compare_at_price_min %}
        {% assign WCProduct_PriceMax = base_product.price_max %}
        {% assign WCProduct_ComparePriceMax = base_product.compare_at_price_max %}
        {% assign WCProduct_VariantPrice = base_variant.price %}
        {% assign WCProduct_VariantComparePrice = base_variant.compare_at_price %}
      {% else %}   
        {% assign WCProduct_Price = saw_variant_price %}
        {% assign WCProduct_PriceMin = base_product.price_min | times: saw_discount %}
        {% assign WCProduct_PriceMax = base_product.price_max | times: saw_discount %}
        {% assign WCProduct_ComparePrice = saw_variant_compare_at_price %}
        {% if base_product.compare_at_price_min != 0 %}{% assign WCProduct_ComparePriceMin = base_product.compare_at_price_min %}{% else %}{% assign WCProduct_ComparePriceMin = base_product.price_min %}{% endif %}
        {% if base_product.compare_at_price_max != 0 %}{% assign WCProduct_ComparePriceMax = base_product.compare_at_price_max %}{% else %}{% assign WCProduct_ComparePriceMax = base_product.price_max %}{% endif %}
        {% assign WCProduct_VariantPrice = saw_variant_price %}
        {% assign WCProduct_VariantComparePrice = saw_variant_compare_at_price %}
      {% endif %}
      {% comment %} Wholesale_Club_Product_Prices End {% endcomment %}

      {% assign serever  = product.title   %}

      
      {%- if serever  contains main_option   -%}  
        {% assign  main_secondr  = serever | split: " - " | last  %}
        {% assign  main_second  = serever  %}
        {% assign  tit12 = false %}
        {% if  ser  ==  main_secondr %}
          {% assign  tit12 = true %} 
        {% endif %}

        <div style="display: inline-block;width: 50%;">
          <a class="btn_kk c{{ tit12  }}" style="
            display: flex;
            justify-content: center;
            align-items: center;
            color: #000;
            border-radius: 5px;
            padding: 10px;
          "
          href="{{ product.url }}"
          >
            {% if main_secondr contains "7"  %}
              {{ main_secondr | replace: "Serving Packets", section.settings.title1 | sort | join: "-" | append:" " }}
            {% elsif main_secondr contains "12"  %}
              {{ main_secondr | replace: "Servings", section.settings.title1 | sort | join: "-" | append:" " }}
            {% elsif main_secondr contains "24"  %}
              {{ "24 "| append: section.settings.title12Test }}
            {% elsif main_secondr contains "20"  %}
              {{ main_secondr | replace: "Servings", section.settings.title123 | replace: "Packet", " " | sort | join: "-" | append:"  " }} 
            {% elsif main_secondr contains "45"  %}
              {{ main_secondr | replace: "Servings", section.settings.title1234 | replace: "Packet", " " | sort | join: "-" | append:"  " }} 
            {% elsif main_secondr contains "100"  %}
              {{ main_secondr | replace: "Servings", section.settings.title12345 | replace: "Packet", " " | sort | join: "-" | append:"  " }} 
            {% else %}    
              {{ main_secondr | replace: "Servings", section.settings.title123456 | sort | join: "-" | append:"" }}
            {% endif %}
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}

{% assign title_lower = product.title | downcase %}
{% unless title_lower contains "sports drink" %}
  {% assign pack_12_product = null %}
  {% for product in collection.products %}
    {{ product.title }}
    {% if product.title contains "12 Pack" %}
      {% assign pack_12_product = product %}
      {% break %}
    {% endif %}
  {% endfor %}

  
  
  {% if pack_12_product and tit12 %}
    <div style="display: inline-block;width: 100%;">
      <a class="btn_kk" style="
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        color: #000;
        border-radius: 5px;
        padding: 10px;
      "
      href="{{ pack_12_product.url }}"
      >
        12 Pack Sports Drink
      </a>
    </div>
  {% endif %}
{% endunless %}


<script>
  var text =$(".btn_kk").text();
  if (text.includes({{ ser | json }})){
    console.log("data");
    $(".c{{ ser }} ").css({'background-color':'black'});
  };
</script>

<style>
  .ctrue{
    background-color: #e4002b;
    color: white !important;
  }

  @media only screen and (max-width: 640px) {
    .btn_kk{
      width: 131px !important;
    }
  }

  .main_div{
    display: grid;
    grid-template-columns: auto auto;
  }

  .btn_kk:hover {
    border: 1px solid #000000;
    border-style: solid;
    border-width: 2px;
  }

  .btn_kk{
    border: 1px solid #000000;
    border-style: solid;
    width: 205px;
    margin: 5px;
  }
</style>

<script type="application/ld+json">
  {% assign days = 90 | times: 86400 %}
  {
    "@context": "https://schema.org/",
    "@type": "Product",
    "name": "{{ product.title }}",
    "image": [
      "{{ product.featured_image | img_url: '800x800' }}"
    ],
    "description": "{{ product.description | escape }}",
    "sku": "{{ product.sku }}",
    "brand": {
      "@type": "Brand",
      "name": "BioSteel"
    },
      {% if product.metafields.stamped.reviews_count and product.metafields.stamped.reviews_count != "0" %} 
"aggregateRating": {
 "@type": "AggregateRating",
 "ratingValue": {{ product.metafields.stamped.reviews_average | round:2 }},
 "reviewCount": {{product.metafields.stamped.reviews_count}}
},
{% endif %}
    "offers": {
      "@type": "Offer",
      "url": "{{ product.url }}",
      "priceCurrency": "CAD",
      "price": "{{ product.price | money_without_currency }}",
      "availability": "http://schema.org/InStock",
      "priceValidUntil": "{{ 'now' | date: '%s' | plus: days | date: '%Y-%m-%d' }}",
      "shippingDetails": {
        "@type": "OfferShippingDetails",
        "shippingRate": {
          "@type": "MonetaryAmount",
          "value": "0",
          "currency": "CAD"
        },
        "deliveryTime": {
          "@type": "ShippingDeliveryTime",
          "transitTime": {
            "@type": "QuantitativeValue",
            "minValue": 3,
            "maxValue": 6,
            "unitCode": "DAY"
          },
          "handlingTime": {
            "@type": "QuantitativeValue",
            "minValue": 1,
            "maxValue": 2,
            "unitCode": "DAY"
          }
        },
        "shippingDestination": {
          "@type": "DefinedRegion",
          "addressCountry": {
            "@type": "Country",
            "name": "CA"
          }
        }
      },
      "hasMerchantReturnPolicy": {
        "@type": "MerchantReturnPolicy",
        "url": "{{ shop.url }}/pages/shipping-return-policy",
        "returnPolicyCategory": "https://schema.org/MerchantReturnFiniteReturnWindow",
        "merchantReturnDays": 6,
        "applicableCountry": {
          "@type": "Country",
          "name": "CA"
        },
        "returnMethod": "https://schema.org/ReturnByMail",
        "returnFees": "https://schema.org/FreeReturn"
      }
    }
  }
</script>

