{% assign caption_split = content | split: 'data-rte-split-caption="" ' | join: 'data-rte-split-caption ' | split: 'data-rte-split-caption ' %}
{% for attr in caption_split %}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "wc_product_visibility", resource: attr %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop End {%- endcomment -%}

  {% assign img = attr | split: 'data-img-src="' %}
  {% assign img = img[1] | split: '"' | first %}
  {% assign end_of_img = img | append: '" ' %}
  {% assign img_position =  attr | split: end_of_img | last | split: 'data-img-position="' %}
  {% assign img_position =  img_position[1] | split: '"' | first %}
  {% assign end_of_img_position = img_position | append: '">' %}
  {% assign caption =  attr | split: end_of_img_position | last | split: '</div>' | first %}
    {% comment %} empty attributes may or may not have assigned blank value, depending on if content has been edited - we'll just handle  both cases {% endcomment %}
  {% assign old_html_1 = '<div data-rte-split-caption data-img-src="' | append: img | append: '" ' | append: 'data-img-position="' | append: img_position | append: '">' | append: caption | append: '</div>' %}
  {% assign old_html_2 = '<div data-rte-split-caption="" data-img-src="' | append: img | append: '" ' | append: 'data-img-position="' | append: img_position | append: '">' | append: caption | append: '</div>' %}
  {% capture new_html %}
    <div class="Caption RteSplitCaption">
      {%- capture image_panel -%}
        <div class="Caption__panel Caption__image">
          <img src="{{ img }}">
          <img class="SizingContent" src="{{ img }}" aria-hidden="true" data-prevent-tab>
        </div>
      {%- endcapture -%}
      {%- capture content_panel -%}
        <div class="Caption__panel">
          <div class="Caption__content Caption__content--full">{{ caption }}</div>
          <div class="Caption__content Caption__content--full SizingContent" aria-hidden="true" data-prevent-tab>{{ caption }}</div>
        </div>
      {%- endcapture -%}
      {%- if img_position == 'left' -%}
        {{ image_panel }}
        {{ content_panel }}
      {%- else -%}
        {{ content_panel }}
        {{ image_panel }}
      {%- endif -%}
    </div>
  {% endcapture %}
  {% assign content = content | replace: old_html_1, new_html | replace: old_html_2, new_html %}
{% endfor %}