{% assign product_url = product.metafields.c_f['[p][_t] 10a. Product URL'] %}

<div class="StickyAddCart__mobile" data-mobile-sticky-add-cart>
  <img src="{{ product.featured_image | img_url: '1048x' }}" alt="{{ product.featured_image.alt }}">
  {%- if product_url != blank -%}
    <div>
      <a class="Button Button--primary StickyAddCart__button" href="{{ product_url }}" target="_blank">Buy Now</a>
    </div>
  {%- else -%}
    <div class="Button Button--primary StickyAddCart__button" data-add-to-cart data-sticky-add-to-cart>
      <span data-add-to-cart-text>
      {% if current_variant.available %}
      {{ 'products.product.add_to_cart' | t }}
      {% else %}
      {{ 'products.product.sold_out' | t }}
      {% endif %}
      </span>
    </div>
  {%- endif -%}
  
  <div class="Close" data-sticky-close>
    <span></span> 
    <span></span> 
  </div>
</div>
