{% if section.settings.enable_section %}
<section 
  id="section{{ section.id }}" 
  data-section-id="{{ section.id }}" 
  data-section-type="ContentBlock" 
  class="Section Section--{{ section.settings.width }} Section--{{ section.settings.width--mobile }}" 
  style="{% if section.settings.use_background %}background: {{ section.settings.background }};{% endif %}
  {% if section.settings.use_background_image %}background-image: url('{{ section.settings.background_image | img_url: '2048x' }}');background-size: cover;background-position: 50% 50%;{% endif %}"
>
  <div class="Section__container Content__section">
    <div class="ContentBlockCustom Animate Animate--slide-up">
        <div class="ContentBlockCustom__content">
            <h3>{{ section.settings.heading }}</h3>
            <p>{{ section.settings.description }}</p>
        </div>
    </div>
  </div>
</section>

<style>
section#section{{section.id}} .Content__section{
  background-color: {{ section.settings.background_color }};
}

#section{{ section.id }} .Section__container {
  padding-top: {{ section.settings.padding_top }}px;
  padding-bottom: {{ section.settings.padding_bottom }}px;
}
#section{{ section.id }} .Section__container .ContentBlockCustom__content{
  color: {{ section.settings.content_color }};
}

#section{{ section.id }} .Section__container .ContentBlockCustom__content h3 {
  font-size:{{ section.settings.heading_size }}px;
}
#section{{ section.id }} .Section__container .ContentBlockCustom__content p {
  font-size:{{ section.settings.subhead_size }}px;
}

@media only screen and (max-width: {{ settings.grid_mobile_max }}) {
  #section{{ section.id }} .Section__con tainer {
    padding-top: {{ section.settings.padding_top--mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom--mobile }}px;
  }
  #section{{ section.id }} .Section__container .ContentBlockCustom__content h3 {
    font-size:{{ section.settings.heading_size_mobile }}px;
  }
  #section{{ section.id }} .Section__container .ContentBlockCustom__content p {
    font-size:{{ section.settings.subhead_size_mobile }}px;
  }
}
</style>
{% endif %}
{% schema %}
  {
    "name": "Content Block 1",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_section",
        "label": "Enable Section ?",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "use_background",
        "label": "Use background color",
        "default": false,
        "info": "Check this to use a custom section background color."
      },
      {
        "type": "checkbox",
        "id": "use_background_image",
        "label": "Use background Image",
        "default": true,
        "info": "Check this to use a custom section background imag."
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Image",
        "info": "For best results, upload a retina background image"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background color",
        "default": "#000"
      },
      {
        "type": "html",
        "id": "heading",
        "label": "Content Block Heading",
        "default": "Content Block Heading"
      },
      {
        "type": "html",
        "id": "description",
        "label": "Content Block Description",
        "default": "Content Block Description"
      },
      {
        "type": "color",
        "id": "content_color",
        "label": "Content Color",
        "default": "#fff"
      },
      {
      "type": "text",
      "id": "cta_button",
      "label": "Content Block CTA Button Text",
      "default": "Content Block CTA Button Text"
      },
      {
      "type": "text",
      "id": "cta_button_link",
      "label": "Content Block CTA Button Link"
      },
      {
        "type": "header",
        "content": "Desktop :: Settings"
      },
      {
        "type": "range",
        "id": "heading_size",
        "min": 10,
        "max": 50,
        "step": 5,
        "unit": "px",
        "label": "Content Heading font size",
        "default": 50
      },
      {
        "type": "range",
        "id": "subhead_size",
        "min": 10,
        "max": 28,
        "step": 2,
        "unit": "px",
        "label": "Content Subheading font size",
        "default": 14
      },
      {
        "type": "select",
        "id": "width",
        "label": "Width",
        "default": "fixed",
        "options": [
          {
            "label": "Full (Edge-to-Edge)",
            "value": "full"
          },
          {
            "label": "Fixed",
            "value": "fixed"
          }
        ]
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Top Padding",
        "default": 30
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Bottom Padding",
        "default": 30
      },
      {
        "type": "header",
        "content": "Mobile :: Settings"
      },
      {
        "type": "range",
        "id": "heading_size_mobile",
        "min": 10,
        "max": 50,
        "step": 5,
        "unit": "px",
        "label": "Content Heading font size for mobile",
        "default": 50
      },
      {
        "type": "range",
        "id": "subhead_size_mobile",
        "min": 10,
        "max": 28,
        "step": 2,
        "unit": "px",
        "label": "Content Subheading font size for mobile",
        "default": 14
      },
      {
        "type": "select",
        "id": "width--mobile",
        "label": "Width",
        "default": "mobile-full",
        "options": [
          {
            "label": "Full (Edge-to-Edge)",
            "value": "mobile-full"
          },
          {
            "label": "Fixed",
            "value": "mobile-fixed"
          }
        ]
      },
      {
        "type": "range",
        "id": "padding_top--mobile",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Top Padding",
        "default": 15
      },
      {
        "type": "range",
        "id": "padding_bottom--mobile",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Bottom Padding",
        "default": 15
      }
    ]
  }
{% endschema %}
