<style type="text/css">
  
  div.img,picture {
  
    max-width:unset !important;
  
  }
            .cds {        
              padding-bottom: 0px!important;
            
          }

  @media only screen and (min-width: 641px) {  
.cdss1 {        
    display: flex!important;
 text-align: center !important;
  margin-left:32% !important; 
       
}
   .cli12{width:130px !important} 
}
 @media only screen and (max-width: 640px) {  
.cdss1 {        
    display: flex!important;
 text-align: center !important;
 
    
} 
   
 }
    
        </style>
<div>


  
  
  
</div>






{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

{%- endstyle -%}

{%- liquid
  assign columns_mobile_int = section.settings.columns_mobile | plus: 0
  assign show_mobile_slider = false
  if section.settings.swipe_on_mobile and section.blocks.size > columns_mobile_int
    assign show_mobile_slider = true
  endif
-%}

<div data-section-type ="Activity_card_Section2" class="multicolumn color-{{ section.settings.color_scheme }} gradient{% unless section.settings.background_style == 'none' and settings.text_boxes_border_thickness > 0 or settings.text_boxes_shadow_opacity > 0 %} background-{{ section.settings.background_style }}{% endunless %}{% if section.settings.title == blank %} no-heading{% endif %}">
  <div style="background:{{ section.settings.background_styl }}">
  <div class="page-width section-{{ section.id }}-padding isolate">
      
      <div class="custom-text-section" style="padding:20px 10px  20px 10px;">
  <h1 class="{{ section.settings.heading_size }}" style="text-align: center !important;color:{{ section.settings.colors_solid_button_labels }};font-size:{{section.settings.font_size_heading12hed}}px;"> {{ section.settings.custom_text_title }} </h1>
  <div style="text-align: center !important;color:{{ section.settings.colors1 }};font-size:{{section.settings.font_size_heading12sub}}px">{{ section.settings.custom_text_body }}</div>
</div>
    
    {%- unless section.settings.title == blank -%}
      <div class="title-wrapper-with-link title-wrapper--self-padded-mobile title-wrapper--no-top-margin">
        <h1 class="{{ section.settings.heading_size2 }} cdesk title "  style="text-align: center !important;padding-bottom:10px !important;">
          {{ section.settings.title | escape }}
        </h1>
        
      </div>
    
        
   
    {%- endunless -%}
    <slider-component class="slider-mobile-gutter">
      <ul   class="cdss1 multicolumn-list contains-content-container grid grid--{{ section.settings.columns_mobile }}-col-tablet-down{% if section.settings.columns_desktop == 1 %} grid--full-width{% else %} grid--{{ section.settings.columns_desktop }}-col-desktop{% endif %}{% if show_mobile_slider %} slider slider--mobile grid--peek{% endif %}"
        id="Slider-{{ section.id }}"
        role="list"
      >
        {%- liquid
          assign highest_ratio = 0
          for block in section.blocks
            if block.settings.image.aspect_ratio > highest_ratio
              assign highest_ratio = block.settings.image.aspect_ratio
            endif
          endfor
        -%}
        {%- for block in section.blocks -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "wc_product_visibility", resource: block %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop End {%- endcomment -%}

          <li  id="Slide-{{ section.id }}-{{ forloop.index }}" class="cli12 multicolumn-list__item grid__item{% if section.settings.swipe_on_mobile %} slider__slide{% endif %}{% if section.settings.column_alignment == 'center' %} center{% endif %}" {{ block.shopify_attributes }}>
            <div class=" multicolumn-card content-container">
              {%- if block.settings.image != blank -%}
                {% if section.settings.image_ratio == 'adapt' or section.settings.image_ratio == 'circle' %}
                  {% assign spaced_image = true %}
                {% endif %}
                <div class=" multicolumn-card__image-wrapper multicolumn-card__image-wrapper--{{ section.settings.image_width }}-width{% if section.settings.image_width != 'full' or spaced_image %} multicolumn-card-spacing{% endif %}">
                  <div class="cds media media--transparent media--{{ section.settings.image_ratio }}"
                    {% if section.settings.image_ratio == 'adapt' %}
                      style="padding-bottom: {{ 1 | divided_by: highest_ratio | times: 100 }}%;"
                    {% endif %}>
                    <img
                      class="multicolumn-card__image"
                      srcset="{%- if block.settings.image.width >= 275 -%}{{ block.settings.image | image_url: width: 275 }} 275w,{%- endif -%}
                        {%- if block.settings.image.width >= 550 -%}{{ block.settings.image | image_url: width: 550 }} 550w,{%- endif -%}
                        {%- if block.settings.image.width >= 710 -%}{{ block.settings.image | image_url: width: 710 }} 710w,{%- endif -%}
                        {%- if block.settings.image.width >= 1420 -%}{{ block.settings.image | image_url: width: 1420 }} 1420w,{%- endif -%}
                        {{ block.settings.image | image_url }} {{ block.settings.image.width }}w"
                      src="{{ block.settings.image | image_url: width: 550 }}"
                      sizes="(min-width: 990px) {% if section.blocks.size <= 2 %}710px{% else %}550px{% endif %},
                        (min-width: 750px) {% if section.blocks.size == 1 %}710px{% else %}550px{% endif %},
                        calc(100vw - 30px)"
                      alt="{{ block.settings.image.alt }}"
                      height="{{ block.settings.image.height }}"
                      width="{{ block.settings.image.width }}"
                      loading="lazy"
                    >
                  </div>
                </div>
              {%- endif -%}
              <div class="multicolumn-card__info" style="padding:0px !important
                                                         ">
               
                {%- if block.settings.text != blank -%}
                  <div class="rte {{block.settings.heading_size1232}}" style="{{block.settings.font_size_heading12text}}px;" >{{ block.settings.text }}</div>
                {%- endif -%}
                
              </div>
            </div>
          </li>
        {%- endfor -%}
      </ul>

    
     
    </slider-component>
    <div class="center{% if show_mobile_slider %} small-hide medium-hide{% endif %}">
      
    </div>
  </div>
</div>

</div>



{% schema %}
{
  "name": "activity-card",
  "class": "section",
  "tag": "section",
  "settings": [



{
   "type": "color",
   "id": "background_styl",
   "label": "Background color",
   "default": "#ffffff"
},

     {
        "id": "custom_text_title",
        "type": "text",
        "label": "Heading",
        "default": "Text with icon section"
      } 


,
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "h1"
        },
        {
          "value": "h1",
          "label": "h2"
        },
        {
          "value": "h4",
          "label": "h3"
        },
        {
          "value": "h3",
          "label": "h4"
        },
        {
          "value": "h5",
          "label": "h5"
        }
      ],
      "default": "h1",
      "label": "Heading Tag"
    },
{
    "type": "range",
    "id": "font_size_heading12hed",
    "min":  15,
    "max":  100,
    
    "unit": "px" ,
    "label": "Font size for  heading",
    "default":  15
    }
     ,

       {
        "type": "color",
        "id": "colors_solid_button_labels",
        "default": "#000000",
        "label": "heading color"
      },

      
      {
        "id": "custom_text_body",
        "type": "richtext",
        "label": "Sub heading",
        "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      },
{
    "type": "range",
    "id": "font_size_heading12sub",
    "min":  15,
    "max":  100,
    
    "unit": "px" ,
    "label": "Font size for sub heading",
    "default":  15
    },
       {
        "type": "color",
        "id": "colors1",
        "default": "#000000",
        "label": "sub heading color"
      },
    {
      "type": "text",
      "id": "title",
      "default": "Multicolumn",
      "label": "Title"
    }

,
    {
      "type": "select",
      "id": "heading_size2",
      "options": [
        {
          "value": "h2",
          "label": "h1"
        },
        {
          "value": "h1",
          "label": "h2"
        },
        {
          "value": "h4",
          "label": "h3"
        },
        {
          "value": "h3",
          "label": "h4"
        },
        {
          "value": "h5",
          "label": "h5"
        }
      ],
      "default": "h3",
      "label": "Title Size"
    },








    {
      "type": "select",
      "id": "image_width",
      "options": [
        {
          "value": "third",
          "label": "one-third width of column"
        },
        {
          "value": "half",
          "label": "Half width of column"
        },
        {
          "value": "full",
          "label": "full width of column"
        }
      ],
      "default": "full",
      "label": "Image width"
    } ,
{
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "padding_bottom",
      "default": 36
    }
  ],

  
        
  "blocks": [
          
    {
      "type": "column",
      "name": "column",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Icon image"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "Icon Text"
        },
  {
      "type": "select",
      "id": "heading_size1232",
      "options": [
        {
          "value": "h2",
          "label": "h1"
        },
        {
          "value": "h1",
          "label": "h2"
        },
        {
          "value": "h4",
          "label": "h3"
        },
        {
          "value": "h3",
          "label": "h4"
        },
        {
          "value": "h5",
          "label": "h5"
        }
      ],
      "default": "h3",
      "label": "Icon text tag"
    }

      ]
    }
  ],

  "presets": [
    {
      "name": "activity-card",
      
      "blocks": [
      
       
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    },
   {
"name": "custom-text",
"category": "Custom"
}
  ]
}
{% endschema %}
