{% if section.settings.enable_section %}
<section 
  id="section{{ section.id }}" 
  data-section-id="{{ section.id }}" 
  data-section-type="INF-ImageWithText" 
  class="Section Section--fixed Section--fixed section_image_blocks" 
  style=""
>
  {% capture image_layout1 %}
    {%- assign img_url = section.settings.image1 | img_url: 'master' -%}
    <div class="feature-row__item feature-row__text feature-row__text--{{ section.settings.layout }}" style="padding:0px;flex: 1 1 50%;background:#FFF;">
      <img src="{{img_url}}">
      {% comment %}
      <div style="visibility:hidden;">
        {% if section.settings.title != blank %}
          <h2 class="h2" style="text-align:center;margin:0px;font-size:2.2rem;">{{ section.settings.title | escape }}</h2>
        {% endif %}
        {% if section.settings.text != blank %}
          <div class="rte-setting featured-row__subtext">{{ section.settings.text }}</div>
        {% endif %}
        {% if section.settings.button_label != blank and section.settings.button_link != blank %}
          <a href="{{ section.settings.button_link }}" class="btn">
            {{ section.settings.button_label | escape }}
          </a>
        {% endif %}

        <div class="feature-row-blocks">
        {% for block in section.blocks %}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "wc_product_visibility", resource: block %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop End {%- endcomment -%}

          <div class="feature-row-block">
            {% if block.settings.block_image %}
            {%- assign img_url = block.settings.block_image | img_url: 'master' -%}
            <div class="fr_block_image">
              <img src="{{img_url}}">
            </div>
            {% endif %}
            {% if block.settings.block_heading %}
            <h4 class="fr_block_title">
              {{block.settings.block_heading}}
            </h4>
            {% endif %}
            {% if block.settings.block_text %}
            <p class="fr_block_text">
              {{block.settings.block_text}}
            </p>
            {% endif %}
          </div>
        {% endfor %}
        </div>
      </div>
      {% endcomment %}
      
    </div>
  {% endcapture %}
  
  
  {% capture image_layout2 %}
    {%- assign img_url = section.settings.image2 | img_url: 'master' -%}
    <div class="feature-row__item feature-row__text feature-row__text--{{ section.settings.layout }}" style="padding:0px;flex: 1 1 50%;background:#FFF;">
      <img src="{{img_url}}">
      {% comment %}
      <div style="visibility:hidden;">
        {% if section.settings.title != blank %}
          <h2 class="h2" style="text-align:center;margin:0px;font-size:2.2rem;">{{ section.settings.title | escape }}</h2>
        {% endif %}
        {% if section.settings.text != blank %}
          <div class="rte-setting featured-row__subtext">{{ section.settings.text }}</div>
        {% endif %}
        {% if section.settings.button_label != blank and section.settings.button_link != blank %}
          <a href="{{ section.settings.button_link }}" class="btn">
            {{ section.settings.button_label | escape }}
          </a>
        {% endif %}

        <div class="feature-row-blocks">
        {% for block in section.blocks %}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "wc_product_visibility", resource: block %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop End {%- endcomment -%}

          <div class="feature-row-block">
            {% if block.settings.block_image %}
            {%- assign img_url = block.settings.block_image | img_url: 'master' -%}
            <div class="fr_block_image">
              <img src="{{img_url}}">
            </div>
            {% endif %}
            {% if block.settings.block_heading %}
            <h4 class="fr_block_title">
              {{block.settings.block_heading}}
            </h4>
            {% endif %}
            {% if block.settings.block_text %}
            <p class="fr_block_text">
              {{block.settings.block_text}}
            </p>
            {% endif %}
          </div>
        {% endfor %}
        </div>
      </div>
      {% endcomment %}      
    </div>
  {% endcapture %}
  
  <div class="Section__container feature-row image_blocks" style="background-color:#f1f1f1;">
    
    {{ image_layout1 }}

    <div style="text-align:center;flex: 1 1 50%;padding:0px;" class="feature-row__item feature-row__text feature-row__text--{{ section.settings.layout }}">
      {{ image_layout2 }}
    </div>
    <div class="clearfix"></div>
  </div>
</section>
{% endif %}


{% schema %}
  {
    "name": "Images Block",
    "class": "index-section",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_section",
        "label": "Enable Section ?",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "image1",
        "label": "Left Image"
      },
      {
        "type": "image_picker",
        "id": "image2",
        "label": "Right Image"
      }
    ],
    "presets": [
      {
        "name": "Images Block",
        "category": "Image"
      }
    ]
  }
{% endschema %}