<section 
  id="Section{{ section.id }}"
  data-section-id="{{ section.id }}" 
  data-section-type="INF-CollectionCarousel"
  class="Section Section--{{ section.settings.width }} Section--{{ section.settings.width--mobile }}" 
  style="{% if section.settings.use_background %}background: {{ section.settings.background }};{% endif %}"
>
  <div class="Section__container {% if section.settings.animation != 'none' %}Animate Animate--{{ section.settings.animation }}{% endif %}">
    
    {%- if section.settings.heading != '' -%}<h3 class="Section__heading {{ section.settings.heading_class }}">{{ section.settings.heading }}</h3>{%- endif -%}
    <div
      id="CollectionCarousel{{ section.id }}" 
      class="CollectionCarousel AnimateOnLoad Animate--fade-in"
      data-collection-carousel
      data-prev-next-buttons="{{ section.settings.prevNextButtons }}"
      data-prev-next-buttons-mobile="{{ section.settings.prevNextButtons--mobile }}"
      data-page-dots="{{ section.settings.pageDots }}"
      data-page-dots-mobile="{{ section.settings.pageDots--mobile }}"
      data-draggable="{{ section.settings.draggable }}"
      data-draggable-mobile="{{ section.settings.draggable--mobile }}"
      data-wrap-around="{{ section.settings.wrapAround }}"
      data-wrap-around-mobile="{{ section.settings.wrapAround--mobile }}"
      data-cell-align="{{ section.settings.cellAlign }}"
      data-cell-align-mobile="{{ section.settings.cellAlign--mobile }}"
      {% if section.settings.arrow_location and section.settings.arrow_location != 'center' %}
        data-arrow-location="{{ section.settings.arrow_location }}" 
      {% endif %}
      {% if section.settings.arrow_location--mobile and section.settings.arrow_location--mobile != 'center' %}
        data-arrow-location-mobile="{{ section.settings.arrow_location--mobile }}" 
      {% endif %}
    >
      {%- for product in collections[section.settings.collection].products limit: section.settings.limit -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "wc_product_visibility", resource: product %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop End {%- endcomment -%}

{% comment %} Wholesale_Club_Product_Prices Start {% endcomment %}
{% assign base_product = product %}
{% assign base_variant = product.selected_or_first_available_variant %}

{% if shop.metafields.sawholesale['base_price'] == blank %}
  {% assign base_price = 'compare_at_price' %}
{% else %}
  {% assign base_price = shop.metafields.sawholesale['base_price'] %}
{% endif %}

{% assign saw_discount = 0 %}{% assign saw_has_discount = false %}

{% if customer.tags != blank %}
  {% for mf in base_product.metafields.sawholesale %}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop Start {%- endcomment -%}
{%- capture hide_resource -%}{% render "wc_product_visibility", resource: mf %}{%- endcapture -%}
{%- if hide_resource == "true" -%}
  {% continue %}
{%- endif -%}
{%- comment -%} Wholesale_Club_Product_Visibility_For_Loop End {%- endcomment -%}

    {% capture product_customer_tag %}{{ mf | first | replace: 'discount_', '' }}{% endcapture %}
    {% if customer.tags contains product_customer_tag %}
      {% assign saw_has_discount = true %}
      {% assign discount_key = product_customer_tag | prepend: 'discount_' %}
      {% assign price_key = product_customer_tag | prepend: 'price_' %}
      {% assign saw_discount = base_product.metafields.sawholesale[discount_key] | divided_by: 100.0 %}
    {% endif %}
  {% endfor %}
{% endif %}

{% assign saw_discount = 1 | minus: saw_discount %}

{% if base_price == 'price' or base_variant.compare_at_price == blank  or base_variant.compare_at_price == 0 or base_variant.compare_at_price < base_variant.price %}
  {% assign saw_variant_compare_at_price = base_variant.price %}
{% else %}
  {% assign saw_variant_compare_at_price = base_variant.compare_at_price %}
{% endif %}

{% assign cpe = shop.metafields.sawholesale['cpe'] | default: "true" %}
{% if base_variant.metafields.sawholesale[price_key] != blank and cpe == "true" %}
  {% assign saw_variant_price = base_variant.metafields.sawholesale[price_key] %}
{% else %}
  {% assign saw_variant_price = saw_variant_compare_at_price | times: saw_discount %}
{% endif %}

{% if saw_has_discount == false or saw_variant_price >= saw_variant_compare_at_price %}
  {% assign WCProduct_Price = base_product.price %}
  {% assign WCProduct_ComparePrice = base_product.compare_at_price %}
  {% assign WCProduct_PriceMin = base_product.price_min %}
  {% assign WCProduct_ComparePriceMin = base_product.compare_at_price_min %}
  {% assign WCProduct_PriceMax = base_product.price_max %}
  {% assign WCProduct_ComparePriceMax = base_product.compare_at_price_max %}
  {% assign WCProduct_VariantPrice = base_variant.price %}
  {% assign WCProduct_VariantComparePrice = base_variant.compare_at_price %}
{% else %}   
  {% assign WCProduct_Price = saw_variant_price %}
  {% assign WCProduct_PriceMin = base_product.price_min | times: saw_discount %}
  {% assign WCProduct_PriceMax = base_product.price_max | times: saw_discount %}
  {% assign WCProduct_ComparePrice = saw_variant_compare_at_price %}
  {% if base_product.compare_at_price_min != 0 %}{% assign WCProduct_ComparePriceMin = base_product.compare_at_price_min %}{% else %}{% assign WCProduct_ComparePriceMin = base_product.price_min %}{% endif %}
  {% if base_product.compare_at_price_max != 0 %}{% assign WCProduct_ComparePriceMax = base_product.compare_at_price_max %}{% else %}{% assign WCProduct_ComparePriceMax = base_product.price_max %}{% endif %}
  {% assign WCProduct_VariantPrice = saw_variant_price %}
  {% assign WCProduct_VariantComparePrice = saw_variant_compare_at_price %}
{% endif %}
{% comment %} Wholesale_Club_Product_Prices End {% endcomment %}

        {% include 'ProductTile', carousel: true %}
      {%- endfor -%}
    </div>
  </div>

  <style>
    /* DESKTOP */
    @media only screen and (min-width: {{ settings.grid_tablet_min }}) {
      #Section{{ section.id }} .Section__container {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }

      #Section{{ section.id }} .flickity-prev-next-button {
        {%- assign arrow_bg_opacity = section.settings.arrow_bg_opacity | divided_by: 100.0 -%}
        background: {{ section.settings.arrow_bg_color | hex_to_rgba: arrow_bg_opacity }};
      }
      #Section{{ section.id }} .flickity-prev-next-button .arrow {
        fill: {{ section.settings.arrow_color }};
        opacity: {{ section.settings.arrow_opacity | divided_by: 100.0 }};
      }
      #Section{{ section.id }} .flickity-page-dots {
        bottom: {{ section.settings.dot_location }};
      }
      #Section{{ section.id }} .flickity-page-dots .dot {
        background: {{ section.settings.dot_color }};
        opacity: {{ section.settings.dot_opacity | divided_by: 100.0 }};
      }
      #Section{{ section.id }} .flickity-page-dots .dot.is-selected {
        background: {{ section.settings.dot_color_active }};
        opacity: {{ section.settings.dot_opacity_active | divided_by: 100.0 }};
      }
      {% if section.settings.pageDots and section.settings.dot_location == '-35px' %}
        #CollectionCarousel{{ section.id }} {
          margin-bottom: 55px;
        }
      {% endif %}
    }

    /* MOBILE */
    @media only screen and (max-width: {{ settings.grid_mobile_max }}) {
      #Section{{ section.id }} .Section__container {
        padding-top: {{ section.settings.padding_top--mobile }}px;
        padding-bottom: {{ section.settings.padding_bottom--mobile }}px;
      }

      #Section{{ section.id }} .flickity-prev-next-button {
        {%- assign arrow_bg_opacity--mobile = section.settings.arrow_bg_opacity--mobile | divided_by: 100.0 -%}
        background: {{ section.settings.arrow_bg_color--mobile | hex_to_rgba: arrow_bg_opacity--mobile }};
      }
      #Section{{ section.id }} .flickity-prev-next-button .arrow {
        fill: {{ section.settings.arrow_color--mobile }};
        opacity: {{ section.settings.arrow_opacity--mobile | divided_by: 100.0 }};
      }
      #Section{{ section.id }} .flickity-page-dots {
        bottom: {{ section.settings.dot_location--mobile }};
      }
      #Section{{ section.id }} .flickity-page-dots .dot {
        background: {{ section.settings.dot_color--mobile }};
        opacity: {{ section.settings.dot_opacity--mobile | divided_by: 100.0 }};
      }
      #Section{{ section.id }} .flickity-page-dots .dot.is-selected {
        background: {{ section.settings.dot_color_active--mobile }};
        opacity: {{ section.settings.dot_opacity_active--mobile | divided_by: 100.0 }};
      }
      {% if section.settings.pageDots--mobile and section.settings.dot_location--mobile == '-35px' %}
        #CollectionCarousel{{ section.id }} {
          margin-bottom: 55px;
        }
      {% endif %}
    }      
  </style>
</section>

{% schema %}
  {
    "name": "Collection Carousel",
    "settings": [
      {
        "type": "checkbox",
        "id": "use_background",
        "label": "Use background color",
        "default": false,
        "info": "Check this to use a custom section background color."
      },
      {
        "type": "color",
        "id": "background",
        "label": "Background color",
        "default": "#fff"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Heading"
      },
      {
        "type": "select",
        "id": "heading_class",
        "label": "Heading Style",
        "default": "h3",
        "options": [
          {
            "value": "h1",
            "label": "H1"
          },
          {
            "value": "h2",
            "label": "H2"
          },
          {
            "value": "h3",
            "label": "H3"
          },
          {
            "value": "h4",
            "label": "H4"
          },
          {
            "value": "h5",
            "label": "H5"
          },
          {
            "value": "h6",
            "label": "H6"
          },
          {
            "value": "h7",
            "label": "H7"
          },
          {
            "value": "h8",
            "label": "H8"
          },
          {
            "value": "p",
            "label": "Paragraph"
          },
          {
            "value": "pbold",
            "label": "Paragraph (Bold)"
          }
        ]
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      },
      {
        "type": "range",
        "id": "limit",
        "min": 10,
        "max": 25,
        "step": 1,
        "label": "Limit",
        "default": 12,
        "info": "Limits the number of products shown in the carousel."
      },
      {
        "type": "select",
        "id": "animation",
        "label": "Intro animation",
        "default": "slide-up",
        "options": [
          {
            "value": "fade-in",
            "label": "Fade in"
          },
          {
            "value": "slide-up",
            "label": "Fade in & slide up"
          },
          {
            "value": "slide-down",
            "label": "Fade in & slide down"
          },          
          {
            "value": "slide-left",
            "label": "Fade in & slide left"
          },
          {
            "value": "slide-right",
            "label": "Fade in & slide right"
          },
          {
            "value": "zoom-fade-in",
            "label": "Fade in & zoom out"
          },
                    {
            "value": "none",
            "label": "None"
          }
        ]
      },
      {
        "type": "select",
        "id": "animation--hover",
        "label": "Hover animation",
        "default": "zoom",
        "options": [
          {
            "value": "zoom",
            "label": "Zoom"
          },
          {
            "value": "none",
            "label": "None"
          }
        ]
      },
      {
        "type": "header",
        "content": "Buttons"
      },
      {
        "type": "checkbox",
        "id": "enable_button",
        "label": "Show cart/detail button",
        "default": false
      },
      {
        "type": "text",
        "id": "cta",
        "label": "CTA",
        "default": "View Details",
        "info": "The button copy shown if a product has variants. Products without variants will have 'add to cart' buttons."
      },
      {
        "type": "text",
        "id": "icon",
        "label": "Icon",
        "default": "fa-arrow-right",
        "info": "Font Awesome icon class (fa-icon-name)"
      },
      {
        "type": "header",
        "content": "Desktop :: Settings"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Top padding",
        "default": 30
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Bottom padding",
        "default": 30
      },
      {
        "type": "select",
        "id": "width",
        "label": "Width",
        "default": "full",
        "options": [
          {
            "label": "Full (Edge-to-Edge)",
            "value": "full"
          },
          {
            "label": "Fixed",
            "value": "fixed"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "draggable",
        "label": "Allow dragging & flicking",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "wrapAround",
        "label": "Wrap-around in an infinite loop",
        "default": true
      },
      {
        "type": "select",
        "id": "cellAlign",
        "label": "Cell alignment",
        "default": "center",
        "options": [
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Right",
            "value": "right"
          }
        ]
      },
      {
        "type": "header",
        "content": "Desktop :: Arrows"
      },
      {
        "type": "checkbox",
        "id": "prevNextButtons",
        "label": "Show previous & next buttons",
        "default": true
      },
      {
        "type": "select",
        "id": "arrow_location",
        "label": "Align arrows with",
        "default": "center",
        "options": [
          {
            "label": "Carousel",
            "value": "center"
          },
          {
            "label": "Image",
            "value": "[data-product-tile-image]"
          },
          {
            "label": "Title",
            "value": "[data-product-tile-title]"
          },
          {
            "label": "Price",
            "value": "[data-product-tile-price]"
          }
        ]
      },
      {
        "type": "color",
        "id": "arrow_color",
        "label": "Arrow color",
        "default": "#333"
      },
      {
        "type": "range",
        "id": "arrow_opacity",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "%",
        "label": "Arrow opacity",
        "default": 100
      },
      {
        "type": "color",
        "id": "arrow_bg_color",
        "label": "Arrow background color",
        "default": "#fff"
      },
      {
        "type": "range",
        "id": "arrow_bg_opacity",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "%",
        "label": "Arrow background opacity",
        "default": 75
      },
      {
        "type": "header",
        "content": "Desktop :: Page Dots"
      },
      {
        "type": "checkbox",
        "id": "pageDots",
        "label": "Show page dots",
        "default": false
      },
      {
        "type": "select",
        "id": "dot_location",
        "label": "Page dot location",
        "default": "-35px",
        "options": [
          {
            "label": "Inside",
            "value": "20px"
          },
          {
            "label": "Outside",
            "value": "-35px"
          }
        ]
      },
      {
        "type": "color",
        "id": "dot_color_active",
        "label": "Active page dot color",
        "default": "#333",
        "info": "The color of the active slide's dot."
      },
      {
        "type": "range",
        "id": "dot_opacity_active",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "%",
        "label": "Active page dot opacity",
        "default": 100
      },
      {
        "type": "color",
        "id": "dot_color",
        "label": "Inactive page dot color",
        "default": "#333",
        "info": "The color of all other dots."
      },
      {
        "type": "range",
        "id": "dot_opacity",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "%",
        "label": "Inactive page dot opacity",
        "default": 50
      },
      {
        "type": "header",
        "content": "Mobile :: Settings"
      },
      {
        "type": "range",
        "id": "padding_top--mobile",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Top padding",
        "default": 20
      },
            {
        "type": "range",
        "id": "padding_bottom--mobile",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Bottom padding",
        "default": 20
      },
      {
        "type": "select",
        "id": "width--mobile",
        "label": "Width",
        "default": "mobile-full",
        "options": [
          {
            "label": "Full (Edge-to-Edge)",
            "value": "mobile-full"
          },
          {
            "label": "Fixed",
            "value": "mobile-fixed"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "draggable--mobile",
        "label": "Allow dragging & flicking",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "wrapAround--mobile",
        "label": "Wrap-around in an infinite loop",
        "default": true
      },
      {
        "type": "select",
        "id": "cellAlign--mobile",
        "label": "Cell alignment",
        "default": "center",
        "options": [
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Right",
            "value": "right"
          }
        ]
      },
      {
        "type": "header",
        "content": "Mobile :: Arrows"
      },
      {
        "type": "checkbox",
        "id": "prevNextButtons--mobile",
        "label": "Show previous & next buttons",
        "default": true
      },
      {
        "type": "select",
        "id": "arrow_location--mobile",
        "label": "Align arrows with",
        "default": "center",
        "options": [
          {
            "label": "Carousel",
            "value": "center"
          },
          {
            "label": "Image",
            "value": "[data-product-tile-image]"
          },
          {
            "label": "Title",
            "value": "[data-product-tile-title]"
          },
          {
            "label": "Price",
            "value": "[data-product-tile-price]"
          }
        ]
      },
      {
        "type": "color",
        "id": "arrow_color--mobile",
        "label": "Arrow color",
        "default": "#333"
      },
      {
        "type": "range",
        "id": "arrow_opacity--mobile",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "%",
        "label": "Arrow opacity",
        "default": 100
      },
      {
        "type": "color",
        "id": "arrow_bg_color--mobile",
        "label": "Arrow background color",
        "default": "#fff"
      },
      {
        "type": "range",
        "id": "arrow_bg_opacity--mobile",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "%",
        "label": "Arrow background opacity",
        "default": 75
      },
      {
        "type": "header",
        "content": "Mobile:: Page Dots"
      },
      {
        "type": "checkbox",
        "id": "pageDots--mobile",
        "label": "Show page dots",
        "default": false
      },
      {
        "type": "select",
        "id": "dot_location--mobile",
        "label": "Page dot location",
        "default": "-35px",
        "options": [
          {
            "label": "Inside",
            "value": "20px"
          },
          {
            "label": "Outside",
            "value": "-35px"
          }
        ]
      },
      {
        "type": "color",
        "id": "dot_color_active--mobile",
        "label": "Active page dot color",
        "default": "#333",
        "info": "The color of the active slide's dot."
      },
      {
        "type": "range",
        "id": "dot_opacity_active--mobile",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "%",
        "label": "Active page dot opacity",
        "default": 100
      },
      {
        "type": "color",
        "id": "dot_color--mobile",
        "label": "Inactive page dot color",
        "default": "#333",
        "info": "The color of all other dots."
      },
      {
        "type": "range",
        "id": "dot_opacity--mobile",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "%",
        "label": "Inactive page dot opacity",
        "default": 50
      }
    ],
    "presets": [{
      "name": "Collection Carousel",
      "category": "Collection"
    }]
  }
{% endschema %}