<section 
  id="section{{ section.id }}" 
  data-section-id="{{ section.id }}" 
  data-section-type="INF-ForgotPassword"
>
  {% form 'recover_customer_password', class: "Form ForgotPasswordForm" %}
    <h2 class="Modal__heading">{{ 'customer.recover_password.title' | t }}</h2>
    <p>{{ 'customer.recover_password.subtext' | t }}</p>

    <div class="ForgotPasswordForm__main">
      <div class="ForgotPasswordForm__success form-success hide" id="ResetSuccess">
        {{ 'customer.recover_password.success' | t }}
      </div>

      {{ form.errors | default_errors }}

      {% if form.posted_successfully? %}
        <span class="hide reset-password-success"></span>
      {% endif %}

      <div class="Form__input-group ForgotPasswordForm__input-group">
        <div class="Form__input-item">
          <label for="RecoverEmail" class="Form_label Form__required{% unless section.settings.show_labels%} label-hidden{% endunless %}">
            {{ 'customer.recover_password.email' | t }}
          </label>
          <div class="Form__input-wrapper">
            <input type="email"
                    name="email"
                    class="Form__input"
                    id="RecoverEmail"
                    placeholder="{{ 'customer.recover_password.email' | t }}"
                    spellcheck="false"
                    autocomplete="off"
                    autocapitalize="off">
          </div>
        </div>
      </div>

      <div class="Form__submit-group">
        <input type="submit" class="ForgotPasswordForm__button Button Button--{{section.settings.button_style}}" value="{{ 'customer.recover_password.submit' | t }}">
      </div>
    </div>
  {% endform %}
</section>
  
{% schema %}
  {
    "name": "Forgot Password",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_labels",
        "label": "Show input labels",
        "default": true
      },
      {
        "type": "select",
        "id": "button_style",
        "label": "Button Style",
        "default": "primary",
        "options": [
          {
            "label": "Primary",
            "value": "primary"
          },
          {
            "label": "Secondary",
            "value": "secondary"
          }
        ]
      }
    ]
  }
{% endschema %}