<style>

@media only screen and (min-width: 640px) { 
#hedden_div1{
  width: 412px;}
  .sub_main_div{
        width: 745px;
  }
  .frist_hending{
          width: 595px;
  }
  #p_one{
    
    font-size:     {{ section.settings.font_size_heading12hed111}}px;
  }
  
 } 
  @media only screen and (max-width: 640px) { 
 .frist_hending{
      
   width: 210px;
  }
  .main_prent_div{

    
  }  
    .sub_main_div{
      margin: 15px;
    }
  }
.flex_break{
  word-wrap: break-word;
}
  
  .frist_conn{
     display: flex;
  flex-wrap: nowrap;
  }
  #hedden_div{
    display: none;
  }
  #hedden_div1{
    display: none;
  }
  #hedden_div2{
    display: none;
  }
  .main_prent_div{
    width: 100%;
    display: flex;
    display: grid;
  }
  .sub_main_div{
      margin: auto;}
  .loho_img_frist{
    margin-top: 7px;
    margin-right: 22px;
  }
  #myBtn{
        font-size: 34px;
    margin-left: 70px;
  }
   #myBtn1{
        font-size: 34px;
    margin-left: 70px;
  }
   #myBtn2{
        font-size: 34px;
    margin-left: 70px;
  }
  .frist_conn{
    border-bottom: 2px solid #bdacac;
  }
  .main_prent_div{
    margin-top: 95px;
        margin-bottom: 25px;
  }
  #p_onee{
    font-size: 25px;
  }
</style>

 <!--   no.1 line -->

<div class="main_prent_div" > 
  <div class="sub_main_div">
  <div class="frist_conn">
       <div class="frist_img"><img src="{{ section.settings.frist_image_logo | img_url: '30x30' }}" class="loho_img_frist" style="
    margin-top: 7px;
                                    margin-top: 28px;
    margin-left: 28px;
    margin-right: 28px;

" />
       </div>
       <div class="frist_hending">  <{{ section.settings.heading_size1 }} style="
                color:{{ section.settings.colors_solid_button_labels1 }} ;
                  font-size: {{ section.settings.font_size_heading12hed1}}px;                        
            word-wrap: break-word;
       " >{{ section.settings.text_heading | escape }}</{{ section.settings.heading_size1 }}></div>
       <div class="frist_buttun"><a onclick="myFunction()" id="myBtn">+ </a></div>  
  </div>




                                                         
  <div id="hedden_div">
     <{{ section.settings.heading_size1H1}}        class="flex_break" style = " padding-left: 19px;font-size: {{ section.settings.font_size_heading12hed1H1}}px; color:{{ section.settings.colors_solid_button_labels1H1}}" >{{ section.settings.text_headinghennde | escape}}</{{ section.settings.heading_size1H1}} >
    <div class="flex_break" id="p_onee" style="font-size: {{ section.settings.font_size_heading12hed1111}}px;
            margin-bottom: 0px;
    margin-right: 12px‒;
    margin-right: 12px;
    padding-left: 20px;
    border-right-width: 20px;                                                                                                                                                                                                                                                         
color:{{ section.settings.colors_solid_button_labelsh2}} ;
      ">{{ section.settings.text_headinghennde_hd}}</div>   
    </div>
  </div>





 <!--   no.2 line -->
   <div class="sub_main_div">
  <div class="frist_conn">
       <div class="frist_img"><img src="{{ section.settings.frist_image_logo1 | img_url: '30x30' }}" class="loho_img_frist" style="
    margin-top: 7px;
      margin-top: 28px;
    margin-left: 28px;
    margin-right: 28px;

" />
       </div>
       <div class="frist_hending">  <{{ section.settings.heading_size2}} style="
                                      color:{{ section.settings.colors_solid_button_labels2 }} ;
                  font-size: {{ section.settings.font_size_heading12hed2 }}px;          
           word-wrap: break-word;
       ">{{ section.settings.text_heading1 | escape }}</{{ section.settings.heading_size2}}></div>
       <div class="frist_buttun"><a onclick="myFunction1()" id="myBtn1">+ </a></div>


  
  </div>
    
  <div id="hedden_div1">
     <{{ section.settings.heading_size2rH2}} class="flex_break" style = "padding-left: 19px;font-size: {{ section.settings.font_size_heading12hed2H2}}px; color:{{ section.settings.colors_solid_button_labe22H2}};">{{ section.settings.text_headinghennde1 | escape}}</{{ section.settings.heading_size2rH2}}>
    <div class="flex_break" id="p_one" style=
                                                         
      "font-size:{{ section.settings.font_size_heading12hefff}}px;color:{{ section.settings.colors_solid_button_labe22}}
             margin-bottom: 0px;
    margin-right: 12px‒;
    margin-right: 12px;
    padding-left: 20px;
    border-right-width: 20px; 
         
                                                         ">{{ section.settings.text_heading2}}</div>  
    </div>

     
  </div>



  <!--   no.3 line -->
   <div class="sub_main_div">
  <div class="frist_conn">
       <div class="frist_img"><img src="{{ section.settings.frist_image_logo2 | img_url: '30x30' }}" class="loho_img_frist" style="
    margin-top: 7px;
       margin-top: 25px;
    margin-left: 28px;
    margin-right: 28px;
                                                                                                                                                                                                                                                                       
" />
       
       </div>
       <div class="frist_hending">  <{{ section.settings.heading_size3}} style="
                  word-wrap: break-word;
                  color: {{ section.settings.colors_solid_button_labe333}};
    
         font-size: {{ section.settings.font_size_heading12hed3}}px;
       ">{{ section.settings.text_headinghennde_hd1243| escape }}</{{ section.settings.heading_size3}}></div>
       <div class="frist_buttun"><a onclick="myFunction2()" id="myBtn2">+ </a></div>
  </div>
    
  <div id="hedden_div2">
     <{{ section.settings.heading_size1H33}} class="flex_break" style="padding-left: 19px;font-size:{{ section.settings.font_size_heading12hefff333H33}}px;color:{{ section.settings.colors_solid_button_labe2333h33  }}">{{ section.settings.text_headinghennde2 | escape}}</{{ section.settings.heading_size1H33}}>
    <div class="flex_break" style = "font-size:{{ section.settings.font_size_heading12hefff333}}px; color:{{ section.settings.colors_solid_button_labe23333hhh4}};
             margin-bottom: 0px;
    margin-right: 12px‒;
    margin-right: 12px;
    padding-left: 20px;
    border-right-width: 20px;
"
        >{{ section.settings.text_headinghennde_hd2}}</div>  
    </div>
  </div>
</div>
<script>
function myFunction() {
  var dots = document.getElementById("hedden_div");
 
  var btnText = document.getElementById("myBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "-"; 
   
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "+"; 
  }
}
  function myFunction1() {
  var dots = document.getElementById("hedden_div1");
 
  var btnText = document.getElementById("myBtn1");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "-"; 
   
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "+"; 
  }
}
   function myFunction2() {
  var dots = document.getElementById("hedden_div2");
 
  var btnText = document.getElementById("myBtn2");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "-"; 
   
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "+"; 
  }
}
</script>
{% schema %}
  {
    "name": "NewSection_3",
    "settings": [
       {
        "type": "text",
        "id": "text_heading",
        "label": "Heading-1",
        "default": "Chearly"
      },
      {
      "type": "select",
      "id": "heading_size1",
      "options": [
        {
          "value": "h2",
          "label": "h1"
        },
        {
          "value": "h1",
          "label": "h2"
        },
        {
          "value": "h4",
          "label": "h3"
        },
        {
          "value": "h3",
          "label": "h4"
        },
        {
          "value": "h5",
          "label": "h5"
        }
      ],
      "default": "h1",
      "label": "Heading Tag 1"
    },
      {
    "type": "range",
    "id": "font_size_heading12hed1",
    "min":  15,
    "max":  100,
    
    "unit": "px" ,
    "label": "Font size for  heading",
    "default":  28
    },
       {
        "type": "color",
        "id": "colors_solid_button_labels1",
        "default": "#000000",
        "label": "heading color"
      },

      {
        "type": "image_picker",
        "label": "Second Image Desktop-1",
        "id": "frist_image_logo"
      },
      {
        "type": "text",
        "id": "text_headinghennde",
        "label": "Heading-1",
        "default": "Chearly."
      },
      {
        
      "type": "select",
      "id": "heading_size1H1",
      "options": [
        {
          "value": "h2",
          "label": "h1"
        },
        {
          "value": "h1",
          "label": "h2"
        },
        {
          "value": "h4",
          "label": "h3"
        },
        {
          "value": "h3",
          "label": "h4"
        },
        {
          "value": "h5",
          "label": "h5"
        }
      ],
      "default": "h1",
      "label": "Heading Tag 1"
    },
      {
    "type": "range",
    "id": "font_size_heading12hed1H1",
    "min":  15,
    "max":  100,
    
    "unit": "px" ,
    "label": "Font size for  heading",
    "default":  28
    },
       {
        "type": "color",
        "id": "colors_solid_button_labels1H1",
        "default": "#000000",
        "label": "heading color"
      },
    
{
        "id": "text_headinghennde_hd",
        "type": "richtext",
        "label": "Sub heading-11",
        "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      },
{
    "type": "range",
    "id": "font_size_heading12hed1111",
    "min":  15,
    "max":  100,
    "unit": "px" ,
    "label": "Font size for  heading",
    "default":  28
    },
      {
        "type": "color",
        "id": "colors_solid_button_labelsh2",
        "default": "#000000",
        "label": "heading color"
      },






      
      
      
      {
        "type": "text",
        "id": "text_heading1",
        "label": "Heading-2",
        "default": "Chearly"
      },
      {
      "type": "select",
      "id": "heading_size2",
      "options": [
        {
          "value": "h2",
          "label": "h1"
        },
        {
          "value": "h1",
          "label": "h2"
        },
        {
          "value": "h4",
          "label": "h3"
        },
        {
          "value": "h3",
          "label": "h4"
        },
        {
          "value": "h5",
          "label": "h5"
        }
      ],
      "default": "h1",
      "label": "Heading Tag 2"
    },
      {
    "type": "range",
    "id": "font_size_heading12hed2",
    "min":  15,
    "max":  100,
    
    "unit": "px" ,
    "label": "Font size for  heading",
    "default":  28
    },
      {
        "type": "color",
        "id": "colors_solid_button_labels2",
        "default": "#000000",
        "label": "heading color"
      },
      {
        "type": "image_picker",
        "label": "Second Image Desktop-2",
        "id": "frist_image_logo1"
      },
      {
        "type": "text",
        "id": "text_headinghennde1",
        "label": "Heading-2",
        "default": "Chearly."
      },
 {
      "type": "select",
      "id": "heading_size2rH2",
      "options": [
        {
          "value": "h2",
          "label": "h1"
        },
        {
          "value": "h1",
          "label": "h2"
        },
        {
          "value": "h4",
          "label": "h3"
        },
        {
          "value": "h3",
          "label": "h4"
        },
        {
          "value": "h5",
          "label": "h5"
        }
      ],
      "default": "h1",
      "label": "Heading Tag H2"
    },

      {
    "type": "range",
    "id": "font_size_heading12hed2H2",
    "min":  15,
    "max":  100,
    
    "unit": "px" ,
    "label": "Font size for  heading",
    "default":  28
    },

      {
        "type": "color",
        "id": "colors_solid_button_labe22H2",
        "default": "#000000",
        "label": "heading color"
      },
       {
        "id": "text_heading2",
        "type": "richtext",
        "label": "Sub heading-22",
        "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      },{
    "type": "range",
    "id": "font_size_heading12hefff",
    "min":  15,
    "max":  100,
    "unit": "px" ,
    "label": "Font size for  heading",
    "default":  28
    },{
        "type": "color",
        "id": "colors_solid_button_labe22",
        "default": "#000000",
        "label": "heading color"
      },







      
      {
        "type": "text",
        "id": "text_headinghennde_hd1243",
        "label": "Heading-3",
        "default": "****&jfjbrgfj Chearly."
      },
       {
      "type": "select",
      "id": "heading_size3",
      "options": [
        {
          "value": "h2",
          "label": "h1"
        },
        {
          "value": "h1",
          "label": "h2"
        },
        {
          "value": "h4",
          "label": "h3"
        },
        {
          "value": "h3",
          "label": "h4"
        },
        {
          "value": "h5",
          "label": "h5"
        }
      ],
      "default": "h1",
      "label": "Heading Tag 1"
    }, {
    "type": "range",
    "id": "font_size_heading12hed3",
    "min":  15,
    "max":  100,
    
    "unit": "px" ,
    "label": "Font size for  heading",
    "default":  28
    },
     
     
      {
        "type": "image_picker",
        "label": "Second Image Desktop-3",
        "id": "frist_image_logo2"
      },{
        "type": "color",
        "id": "colors_solid_button_labe333",
        "default": "#000000",
        "label": "heading color"
      },
      
      {
        "type": "text",
        "id": "text_headinghennde2",
        "label": "Heading-3",
        "default": "Chearly."
      },

  {
    "type": "range",
    "id": "font_size_heading12hefff333H33",
    "min":  15,
    "max":  100,
    "unit": "px" ,
    "label": "Font size for  heading",
    "default":  28
    },
      {
        "type": "color",
        "id": "colors_solid_button_labe2333h33",
        "default": "#000000",
        "label": "heading color"
      },



      
      {
        "type": "richtext",
        "id": "text_headinghennde_hd2",
        "label": "SubHeading-3",
        "default": "<p>****&jfjbrgfj Chearly.</p>"
      },

       {
      "type": "select",
      "id": "heading_size1H33",
      "options": [
        {
          "value": "h2",
          "label": "h1"
        },
        {
          "value": "h1",
          "label": "h2"
        },
        {
          "value": "h4",
          "label": "h3"
        },
        {
          "value": "h3",
          "label": "h4"
        },
        {
          "value": "h5",
          "label": "h5"
        }
      ],
      "default": "h1",
      "label": "Heading Tag 1"
    },
      {
    "type": "range",
    "id": "font_size_heading12hefff333",
    "min":  15,
    "max":  100,
    "unit": "px" ,
    "label": "Font size for  heading",
    "default":  28
    },
      {
        "type": "color",
        "id": "colors_solid_button_labe23333hhh4",
        "default": "#000000",
        "label": "heading color"
      }


      
      
      
    ],
    "presets": [
      {
        "name": "NewSection_3",
        "category": "Promotional"
      }
    ]
  }
{% endschema %}